@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600&family=Playfair+Display:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.5s ease;
}

html {
  font-size: 60%;
  overflow-x: hidden;
  background-color: #DDD0C8;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-thumb {
  background-color: black;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}

section {
  padding: 5rem 10%;
}

.section-title {
  text-align: center;
  padding: 5rem;
  font-weight: 400;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: black;
  letter-spacing: 0.2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #323232;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

p {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

header {
  background-color: transparent;
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header .logo {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  color: black;
  letter-spacing: 0.3rem;
  font-weight: 500;
}
header nav {
  position: relative;
}
header nav #close-menu-btn {
  position: absolute;
  display: none;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  color: black;
  cursor: pointer;
}
header nav #close-menu-btn:hover {
  rotate: 45deg;
}
header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  font-size: 1.7rem;
}
header nav ul a {
  color: black;
}
header nav ul a:hover {
  text-decoration: underline;
  text-underline-offset: 0.8rem;
}
header #menu-btn {
  cursor: pointer;
  font-size: 2.5rem;
  color: black;
  margin-left: 1.5rem;
  display: none;
}
header #menu-btn:hover {
  scale: 1.2;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.hero .hero-left {
  text-align: center;
}
.hero .hero-left h1 {
  font-size: 6rem;
}
.hero .hero-left h2 {
  font-size: 3.5rem;
}
.hero .hero-left #greeting {
  padding-bottom: 1rem;
  animation: 0.8s infinite alternate slidein;
}
.hero .hero-right img {
  width: 50rem;
  min-height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.projects {
  border-top: 0.1rem solid black;
}
.projects .projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 2rem;
  text-align: center;
}
.projects .projects-container .project {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.projects .projects-container .project .image {
  position: relative;
}
.projects .projects-container .project .image img {
  width: 100%;
}
.projects .projects-container .project .image img:hover {
  scale: 1.03;
}
.projects .projects-container .project .image .logo {
  position: absolute;
  left: 0%;
  top: 50%;
}
.projects .projects-container .project .image .logo img {
  width: 20%;
}
.projects .projects-container .project .content {
  padding: 2rem;
}
.projects .projects-container .project .content h3 {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 0.1rem solid black;
}
.projects .projects-container .project .content p {
  text-align: start;
  margin: 1rem 0;
}
.projects .projects-container .project .content p span {
  font-weight: bold;
}
.projects .projects-container .project .content .contibutors {
  font-weight: 500;
  font-size: 1.8rem;
}
.projects .projects-container .project .content .project-btns .btn {
  font-size: 1.2rem;
}

.certificates .certificates-container .certificate {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
}
.certificates .certificates-container .certificate.hide {
  display: none;
}
.certificates .certificates-container .certificate img {
  width: 20%;
  height: 20%;
  min-width: 200px;
  cursor: pointer;
}
.certificates .certificates-container .certificate img:hover {
  scale: 1.2;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.certificates .certificates-container .certificate .content {
  width: 40rem;
}
.certificates .certificates-container .certificate .content h4 {
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 0.1rem solid black;
}
.certificates .load-btn {
  text-align: center;
}

.about {
  background-color: white;
  width: 100%;
}
.about .about-container .image {
  width: 30rem;
  margin: auto;
}
.about .about-container .image img {
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  border-radius: 50%;
}
.about .about-container .content {
  width: 80%;
  text-align: justify;
  margin: auto;
}
.about .about-container .content p {
  font-size: 1.7rem;
  padding: 1rem 0;
}
.about .about-container .content p.hide {
  display: none;
}
.about .load-btn2 {
  text-align: center;
}

.contact .contact-container {
  width: 80%;
  margin: auto;
  text-align: center;
}
.contact .contact-container .box {
  background-color: white;
  width: 30rem;
  margin: auto;
  border-radius: 10px;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.contact .contact-container .box img {
  width: 5rem;
}
.contact .contact-container .box img:hover {
  rotate: 10deg;
}

footer {
  background-color: #323232;
  padding: 2rem;
}
footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
footer .socials img {
  width: 4rem;
}
footer .socials img:hover {
  rotate: 10deg;
}
footer p {
  color: white;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  .logo {
    font-size: 4rem;
  }
  header {
    padding: 2rem;
  }
  .hero .hero-right img {
    width: 60rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  header #menu-btn {
    display: inline-block;
  }
  header nav {
    position: fixed;
    top: 0;
    right: -200%;
    background-color: white;
    width: 100vw;
    height: 100%;
    padding: 10rem;
    z-index: 1200;
  }
  header nav #close-menu-btn {
    display: block;
  }
  header nav ul {
    flex-direction: column;
  }
  .projects .projects-container .project .image .logo {
    top: 43%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  .section-title {
    font-size: 3rem;
  }
}
@keyframes slidein {
  from {
    translate: -5px;
    rotate: -10deg;
  }
  to {
    rotate: 10deg;
    translate: 5px;
  }
}/*# sourceMappingURL=style.css.map */