@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600&family=Playfair+Display:wght@400;500;600&display=swap');

*{
	margin:0;
	padding:0;
	font-family:'DM Sans', sans-serif;
	box-sizing: border-box;
  	outline: none;
  	border:none;
 	text-decoration: none;
	transition: all 0.3s;
	
}

$black: black;
$gray: #323232;
$white: white;
$beige:rgb(71, 40, 91);
$border:0.1rem solid $black;
$box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);

@mixin grid($minsize){
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax($minsize,1fr));
	gap:2rem;
}

//title
@mixin titleText($font-size){
	font-size: $font-size;
	text-transform: capitalize;
	color: $black;
  }


html{
	font-size: 60%;
  	overflow-x: hidden;
	// background-color: $beige;

	&::-webkit-scrollbar{
		width:0.5rem;
	  }
	  &::-webkit-scrollbar-thumb {
		background-color: $black;
	  }
	  &::-webkit-scrollbar-track {
		background-color: transparent;
	  }
}

section{
	padding:5rem 10%;
	border-top: $border;
}

.section-title{
	text-align: center;
	padding:5rem;
	font-weight: 400;
  	@include titleText(3.5rem);
	letter-spacing: 0.2rem;
}

.btn {
display: inline-block;
margin-top:1rem;
margin-right:1rem;
background-color: $beige;
padding: 1rem 2rem;
font-size: 1.5rem;
color: $white;
text-transform: uppercase;
cursor: pointer;
// border-radius: 5rem;

	&:hover {
		background-color: transparent;
		color: $beige;
		border: 0.2rem solid $beige;
	}
}


p{
	font-size: 1.8rem;
	line-height: 3rem;
	padding-top: 1rem;
			

}
// header starts
header{
	background-color: transparent;
	display: flex;
	min-height:70px;
	justify-content: space-between;
	align-items: center;
	padding:1.5rem 10%;
	position: sticky;
	top:0;
	left:0;
	right:0;
	z-index:100;

	.logo{
		font-family:'Playfair Display', serif;
		font-size: 2.5rem;
		color:$black;
		letter-spacing: 0.3rem;
		font-weight: 500;
	}

	nav{
		position: relative;
		display: flex;
		align-items: center;
		justify-content:space-around;
		gap:3rem;
		font-size: 1.7rem;

		#close-menu-btn{
			position: absolute;
			display: none;
			top:1.5rem;
			right:2rem;
			font-size: 4rem;
			color:$black;
			cursor: pointer;
	  
			&:hover{
				rotate:45deg;
			}
		}
		
		a{
			color:$black;

			&:hover{
				text-decoration: underline;
				text-underline-offset: 0.8rem;
			}
		}
		
	}
	#menu-btn {
		cursor:pointer;
		font-size: 2.5rem;
		color:$black;
		margin-left:1.5rem;;
		display: none;

		&:hover{
			scale:1.2;
		}
	}

}
//header ends
.hero{
	border-top: none;
	width:100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	gap:2rem;
	align-items: center;
	flex-wrap: wrap;

	.hero-left{
		text-align: center;
		h1{
			font-size: 6rem;
		}
		h2{
			font-size: 3.5rem;
		}

		#greeting{
			padding-bottom: 1rem;
			animation: wave 0.8s infinite alternate;
		}
		  		
	}

	.hero-right{
		img{
			width:50rem;
			min-height:50rem;
			object-fit: cover;
			border-radius: 10px;
		}
	}
}
// footer starts

// projects start
.projects{
	
	.projects-container{
		@include grid(50rem);
		text-align: center;
		.project{

			// &:nth-child(1),&:nth-child(2){
			// 	.image{
			// 		.logo{
			// 			img{
			// 				width:10%;
			// 			}
			// 		}
			// 	}
			// }

			// &:nth-child(3),&:nth-child(4){
			// 	.image{
			// 		.logo{
			// 			img{
			// 				width:20%;
			// 			}
			// 		}
			// 	}
			// }

			box-shadow: $box-shadow;
			.image{
				position: relative;
				img{
					width:100%;
					&:hover{
						scale:1.03;
					}
					
				}

				.logo{
					position:absolute;
					left:0%;
					top:50%;

					img{
						width:20%
					}
						
					
				}

			}

			.content{
				padding:2rem;

				h3{
					font-size:2rem;
					font-weight: 500;
					border-bottom: $border;
				}
				p{
					text-align: start;
					// margin:1rem 0;

					span{
						font-weight: bold;
					}
				}
				.contibutors{
					font-weight:500;
					font-size:1.8rem;
				}
			

				.project-btns{
					.btn{
						font-size: 1.2rem;
					}
				}
			}
			
		}
	}
}
// projects end

//certificates start
.certificates{
	// border-top: $border;
	.certificates-container{
		
		.certificate{
			justify-content:center;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 3rem;
			margin-bottom: 1rem;

			&.hide{
				display:none;
			}
			img{
				
				width:20%;
				height:20%;
				min-width: 200px;
				cursor: pointer;


				&:hover{
					scale:1.2;
					box-shadow:$box-shadow;
				}
			}
			.content{
				width:40rem;
				h3{
					font-size:2rem;
					font-weight: 500;
					border-bottom: $border;
				}
			}
		}
	}
	.load-btn{
		text-align: center;
	}
}
//certificates end

//about starts
.about{
	background-color: $white;
	width:100%;
	.about-container{

		.image{
			width:30rem;
			margin: auto;
			img{
				width:100%;
				height: 30rem;
				object-fit: cover;
				text-align: center;
				border-radius: 50%;
				
			}
		}
		.content{
			width:80%;
			// text-align: justify;
			margin: auto;

			p{
				
				&.hide{
					display:none;
				}
			}
		}
	}
	.load-btn2{
		text-align: center;
	}
}
//about ends

//contact starts
.contact{

	.contact-container{
		width:80%;
		margin: auto;
		text-align: center;

		.box{
			background-color: $white;
			width:35rem;
			margin:auto;
			border-radius: 10px;
			padding: 2rem 4rem;
			margin-bottom: 2rem;
			box-shadow: $box-shadow;


			img{
				width:5rem;

				&:hover{
					rotate:10deg;
				}
			}
			p{
			word-break: break-all;
			}
		}
	}
}
//contact ends

footer{
	background-color: $gray;
	padding:2rem;
	.socials{
		display: flex;
		justify-content: center;
		align-items: center;
		gap:2rem;
		margin-bottom: 1rem;
	

		img{
			width:4rem;

			&:hover{
				rotate:10deg;
			}
		}
	}
	p{
		color:$white;
		font-size: 1rem;
		text-align: center;
	}

}
// footer ends


// media queries
@media (max-width:1024px){
	html{
	  font-size: 55%;
	}
	.logo {
	  font-size: 4rem;
	}
	header {
	  padding: 2rem;
   
	}
	.hero{
		.hero-right{
			img{
				width: 60rem;
			}
		}
			
			
	}
	section {
		padding: 3rem 2rem;
	}
  
}

//navitems resizing from mobile view to desktop
@media screen and (min-width:768px) {
	nav {
		 right:0 !important;
		 display: flex !important;
	 }
}


@media (max-width:768px) {

	header{

	  #menu-btn {
		  display: inline-block;
		}
		nav{
			position: fixed;
			top:0;
			right:-200%;
			flex-direction: column;
			background-color:$white;
			width:100vw;
			height:100%; 
			padding:10rem;
			z-index: 1200;
			justify-content: center;
			

			#close-menu-btn{
				display: block;
			}
	  
		}
	}

	.projects{
		.projects-container{
			.project{
				.image{
					.logo{
						top:43%;
					}
				}
			}
		}
		
	}
}

@media (max-width:480px) {
	html {
	  font-size: 50%;
	}

	.hero{
		.hero-right{
			img{
				width:98%;
			}
		}
	}
	.section-title{
	  font-size: 3rem;
	}
	.certificates{
		.certificate{
			.content{
				text-align: center;
			}
		}
	}

	.projects{
		.projects-container{
			@include grid(30rem);
		}
	}

	.about{
		.about-container{
			.image{
				width:20rem;

				img{
					height:20rem;
				}
			}
		}
	}

	.contact{
		.contact-container{
			.box{
				width:20rem;
			}
		}
	}
}


.slide-in-left{
	animation: slideInLeft 1s ease-in;
}
.slide-in-right{
	animation: slideInRight 1s ease-in;
}

@keyframes wave {
	from {
	  translate: -5px;
	  rotate: -10deg;
	}
  
	to {
	rotate: 10deg;
	translate: 5px;
	}
  }

@keyframes slideInLeft{
	from{
		transform: translateX(-500px);
	}
	to{
		transform: translateX(0);

	}
}

@keyframes slideInRight{
	from{
		transform: translateX(500px);
	}
	to{
		transform: translateX(0);

	}
}